.section-compar-chart{
    .comparison-table {
        table-layout: fixed;
        width: 100%;
        border-collapse: collapse;
        border-spacing: 0;
        font-size: 0.75rem;
        @media only screen and (max-width: 990px){
          padding: 0 var(--gutter-mobile);
          overflow-x: scroll;
        }

      }
      .icons-row__headings{
        .icons-row__subheading{
          margin-bottom: 20px;
          @media (max-width: 768px) {
            margin-bottom: 15px;
          }
        }
      }
      table{
        border-collapse: separate;
        border-spacing: 0;
        border: none;
        border-radius: 20px;
        table-layout: fixed;
        @media only screen and (max-width: 990px){
          min-width: 900px;
          table-layout: auto;
        }
        tr{
          border: 1px solid #B0B0B0;
        }
        td{
          border: 1px solid #B0B0B0;
          img{
            height: 40px;
            width: auto;
            vertical-align: middle;
            @media only screen and (max-width: 990px){
              height: 30px;
            }
          }
          svg{
            vertical-align: middle;
          }
        }
        
        /*第一欄第一列：左上*/
        tr:first-child td:first-child{
          border-top-left-radius: 20px;
        }
        /*第一欄最後列：左下*/
        tr:last-child td:first-child{
          border-bottom-left-radius: 20px;
        }
        /*最後欄第一列：右上*/
        tr:first-child td:last-child{
          border-top-right-radius: 20px;
        }
        /*最後欄第一列：右下*/
        tr:last-child td:last-child{
          border-bottom-right-radius: 20px;
        }
      }
      .comparison-table th,
      .comparison-table td {
        padding: 1rem;
        font-size: 20px;
        font-style: normal;
        font-weight: 500;
      }
      
      .comparison-table td:not(:first-child) {
        text-align: center;
      }

      .comparison-table th {
        text-align: center;
      }
      
      @media (min-width: 48rem) {
        .comparison-table {
          font-size: 0.875rem;
        }
        
        .comparison-table th,
        .comparison-table td {
          padding: 1rem;
        }
      }
      
      @media (min-width: 60rem) {
        .comparison-table {
          font-size: 1rem;
        }
        
        .comparison-table th,
        .comparison-table td {
          padding: 1rem 2rem;
        }
      }
}