.template-product {
  .form-container-v2 {
    margin-bottom: 20px;
    .selector-wrapper--boxes {
      .radio__fieldset {
        radio-button {
          justify-content: center;
          .radio__input {
            display: none !important;
          }
          .radio__label {
            // font-family: var(--FONT-STACK-BUTTON);
            // font-size: 20px !important;
            // font-weight: 500;
            background-color: transparent !important;
            // @media (max-width: 767px) {
            //   font-size: 16px !important;
            // }
            // @media (max-width: 479px) {
            //   font-size: 14px !important;
            // }
          }
          &.checked {
            background-color: #ccc !important;
          }
        }
      }
    }
  }
  stripe-payment-buttons{
    .radio__legend{
        margin-bottom: 12px;
        .radio__legend__label {
            font-family: var(--FONT-STACK-HEADING);
            font-weight: var(--FONT-WEIGHT-HEADING);
            font-style: var(--FONT-STYLE-HEADING);
            font-size: calc(1rem* var(--adjust-heading));
            margin-bottom: 6px;
            text-transform: uppercase;
        }
    }
  }
  .stripe-button-v2{
    display: flex;
    flex-direction: column;
    row-gap: 12px;

    a{
        // font-size: 20px !important;
        // font-weight: 500;
        // @media (max-width: 767px) {
        //     font-size: 16px !important;
        // }
        // @media (max-width: 479px) {
        //     font-size: 14px !important;
        // }
    }
  }
}
