form-klaviyo-newsletter{
    .form-klaviyo-newsletter{
        .form-success{
            display: none;
            text-align: center;
        }
        .form_submit_container{
            margin-top: 20px;
            .form_on_danger{
                display: none;
                margin-bottom: 20px;
            }
            input,button{
                border-radius: 30px;
                padding-top: 10px;
                padding-bottom: 10px;
            }
            button{
                background-color: black;
            }
        }
    }
}
.footer__block--newsletter{
    form-klaviyo-newsletter{
        .form-klaviyo-newsletter{
            .form_submit_container{
                grid-template-columns: initial;
                .form_on_danger{
                    margin-bottom: initial;
                }
            }
        }
    }
}
.password-page__powered-by-text{
    display: none;
}