.template-product{
    @media only screen and (min-width: 768px){
        .product-single__wrapper {
            .product-single__gallery{
                height: fit-content;
                top: 0;
                position: sticky;
            }
        }
    }
    .product__accordion__title{
        text-transform: uppercase;
    }
    .product__submit__holder{
        display: none !important;
    }

    //pdp option
    .selector-wrapper--boxes{
        margin-bottom: 18px;
        .radio__fieldset{
            display: flex;
            row-gap:12px;
            margin-bottom: 0px;
            .radio__legend{
                margin-bottom: 18px;
            .radio__legend__label{
                font-family: var(--FONT-STACK-HEADING);
                font-weight: var(--FONT-WEIGHT-HEADING);
                font-style: var(--FONT-STYLE-HEADING);
                line-height: 1.25;
                font-size: calc(1rem * var(--adjust-heading));
                margin-bottom: 6px;
                text-transform: uppercase;
            }
        }
            .radio__button{
                padding-left: 17px;
                padding-right: 27px;
                width: 100%;
                display: block;
                font-family: var(--FONT-STACK-HEADING);
                font-weight: var(--FONT-WEIGHT-HEADING);
                font-style: var(--FONT-STYLE-HEADING);
                line-height: 1.25;
                font-size: calc(1.1rem * var(--adjust-heading));
                height: 65px;
                border-radius: 10px;
                border: 1px solid #000;
                display: flex;
                align-items: center;
                margin-bottom: 0px;
                cursor: pointer;

                .radio__label{
                    padding: 0px;
                    background: inherit;
                    color: inherit;
                    border: none;
                }
            }
            .radio__input:checked ~ .radio__button {
                /* Your CSS styles for the .container when the radio button is checked */
                background-color: lightblue !important;
                color: white;
            }
        }
    }

    input[type="radio"] {
        display: initial !important;
        appearance: none;
        background-color: #fff;
        margin: 0;
        font: inherit;
        color: currentColor;
        width: 24px;
        height: 24px;
        border: 2px solid #E93B40;
        border-radius: 50%;
        flex: 0 0 24px;
    }

    input[type="radio"]:checked {
        background: radial-gradient(#E93B40 0%, #E93B40 50%, transparent 60%, transparent);
    }
}