.template-product{
    @media only screen and (min-width: 768px){
        .product-single__wrapper {
            .product-single__gallery{
                height: fit-content;
                top: 0;
                position: sticky;
            }
        }
    }
    .product__accordion__title{
        text-transform: uppercase;
    }
    .product__submit__holder{
        display: none !important;
    }
}