.template-product {
  @media only screen and (min-width: 768px) {
    .product-single__wrapper {
      .product-single__gallery {
        height: fit-content;
        top: 0;
        position: sticky;
      }
    }
  }
  .product__accordion__title {
    text-transform: uppercase;
  }
  .product__submit__holder {
    display: none !important;
  }

  //price in title
    .badge_container-wrapper {
        display: flex;
        align-items: center;
        column-gap: 20px;
        font-family: var(--FONT-STACK-HEADING);
        font-weight: var(--FONT-WEIGHT-HEADING);
        font-style: var(--FONT-STYLE-HEADING);
        line-height: 1.25;
        font-size: calc(1.1rem * var(--adjust-heading));
        .product-custom_badge {
          border-radius: 5px;
          background: #5d9ff6;
          color: white;
          padding: 8.5px 14px 6px;
          font-size: 14px;
          top: -2px;
          position: relative;
        }
  }

  .price-option-variant.price-with-compar{
    align-items: center;
    column-gap: 11px;
    flex-direction: row-reverse;
    span,s{
        margin-bottom: 0px;
    }
  }

  .price-option-variant{
    font-family: var(--FONT-STACK-HEADING);
    font-weight: var(--FONT-WEIGHT-HEADING);
    font-style: var(--FONT-STYLE-HEADING);
    line-height: 1.25;
    font-size: calc(1.3rem * var(--adjust-heading));
  }

  //pdp option
  .selector-wrapper--boxes {
    margin-bottom: 9px;
    @media only screen and (max-width: 768px) {
        margin-bottom: 4px;
    }
    .radio__fieldset {
      display: flex;
      row-gap: 12px;
      margin-bottom: 0px;

      @media only screen and (max-width: 768px) {
        row-gap: 10px;
      }
      .radio__legend {
        margin-bottom: 12px;
        .radio__legend__label {
          font-family: var(--FONT-STACK-HEADING);
          font-weight: var(--FONT-WEIGHT-HEADING);
          font-style: var(--FONT-STYLE-HEADING);
          font-size: calc(1rem * var(--adjust-heading));
          margin-bottom: 6px;
          text-transform: uppercase;
          @media only screen and (max-width: 768px) {
            //font-size: calc(0.8rem * var(--adjust-heading));
          }
        }
      }
      .radio__button {
        padding-left: 17px;
        padding-right: 27px;
        width: 100%;
        display: block;
        font-family: var(--FONT-STACK-HEADING);
        font-weight: var(--FONT-WEIGHT-HEADING);
        font-style: var(--FONT-STYLE-HEADING);
        font-size: calc(1rem * var(--adjust-heading));
        padding-block: calc(var(--top-bottom-padding) * var(--adjust-button) + var(--BORDER-WIDTH));
        color:#000;
        border-radius: 10px;
        border: 1px solid #000;
        display: flex;
        align-items: center;
        column-gap: 14px;
        margin-bottom: 0px;
        @media only screen and (max-width: 450px) {
          font-size: 13px;
        }
        @media only screen and (max-width: 768px) {
            column-gap: 10px;
            //height: 45px;
            padding-left: 14px;
            padding-right: 14px;
            font-size: 14px;
        }
        cursor: pointer;
        background-color: var(--bg);
        .radio__label {
          padding: 0px;
          background: inherit;
          color: inherit;
          border: none;
          top: 2px;
          font-size: inherit;
          @media only screen and (max-width: 768px) {
            top: 1px;
          }
        }
        .notePrice{
            font-size: 16px;
            font-style: italic;
            font-weight: 300;
            line-height: normal;
            margin-left: 5px;
            top: -1px;
            position: relative;
            @media only screen and (max-width: 768px) {
                font-size: 14px;
                margin-left: 3px;
                top:-2px;
            }
        }
      }
      .radio-button-container{
        position: relative;
        width: 100%;
        margin-right: 12px;
        @media only screen and (max-width: 768px) {
            margin-right: 8px;
        }
        .badge-populare{
            color: #FFF;
            text-align: center;
            font-size: 14px;
            font-style: normal;
            font-weight: 500;
            line-height: normal;
            text-transform: uppercase;
            padding: 8px 16px 10px;
            border-radius: 10px 10px 0px 0px;
            border: 1px solid #000;
            background: #4B4A4A;
            position: absolute;
            top: -30px;
            right: 0px;

            @media only screen and (max-width: 768px) {
                padding: 5px 12px 12px;
                font-size: 11px;
                top: -26px;
            }
        }
    }
    .price-option-container{
       margin-left: auto; 
    }
      .radio__button.checked {
        /* Your CSS styles for the .container when the radio button is checked */
        background-color: #E9E6D9 !important;
      }
    }
  }
  .price-with-compar{
    .product__price--off{
        padding: 6px 10px;
        border-radius: 5px;
        background: #5E9EF5;
        color: #FFF;
        font-size: 14px;
        font-style: normal;
        font-weight: 500;
        line-height: normal;
        text-transform: uppercase;
        margin-right: 20px;
        top: -1px;
        position: relative;

        @media only screen and (max-width: 768px) {
            padding: 5px 8px;
            margin-right: 10px;
            font-size: 12px;
        }
    }
    .product__price--compare{
        margin-right: 0px;
    }
}

  input[type="radio"] {
    display: initial !important;
    appearance: none;
    background-color: transparent;
    margin: 0;
    font: inherit;
    color: currentColor;
    width: 22px;
    height: 22px;
    border: 1px solid #000;
    border-radius: 50%;
    flex: 0 0 22px;
    top: initial;
    position: initial;
    opacity: initial;
  }

  input[type="radio"]:checked {
    background: radial-gradient(#6D9DEF 0%, #6D9DEF 45%, transparent 50%, transparent);
  }
}
