@charset "UTF-8";
@media only screen and (min-width: 768px) {
  .template-product .product-single__wrapper .product-single__gallery {
    height: -moz-fit-content;
    height: fit-content;
    top: 0;
    position: sticky;
  }
}
.template-product .product__accordion__title {
  text-transform: uppercase;
}
.template-product .product__submit__holder {
  display: none !important;
}

form-klaviyo-newsletter .form-klaviyo-newsletter .form-success {
  display: none;
  text-align: center;
}
form-klaviyo-newsletter .form-klaviyo-newsletter .form_submit_container {
  margin-top: 20px;
}
form-klaviyo-newsletter .form-klaviyo-newsletter .form_submit_container .form_on_danger {
  display: none;
  margin-bottom: 20px;
}
form-klaviyo-newsletter .form-klaviyo-newsletter .form_submit_container input, form-klaviyo-newsletter .form-klaviyo-newsletter .form_submit_container button {
  border-radius: 30px;
  padding-top: 10px;
  padding-bottom: 10px;
}
form-klaviyo-newsletter .form-klaviyo-newsletter .form_submit_container button {
  background-color: black;
}

.footer__block--newsletter form-klaviyo-newsletter .form-klaviyo-newsletter .form_submit_container {
  grid-template-columns: initial;
}
.footer__block--newsletter form-klaviyo-newsletter .form-klaviyo-newsletter .form_submit_container .form_on_danger {
  margin-bottom: initial;
}

.password-page__powered-by-text {
  display: none;
}

@media only screen and (min-width: 1024px) {
  .section-compar-chart .wrapper {
    padding: 0 calc(var(--gutter) * 2);
  }
}
.section-compar-chart .comparison-table {
  table-layout: fixed;
  width: 100%;
  border-collapse: collapse;
  border-spacing: 0;
  font-size: 0.75rem;
}
@media only screen and (max-width: 990px) {
  .section-compar-chart .comparison-table {
    padding: 0 var(--gutter-mobile);
  }
}
@media screen and (max-width: 990px) {
  .section-compar-chart .comparison-table {
    /* Track */
  }
  .section-compar-chart .comparison-table .table-wrapper:not(.u-NoScrollbar) {
    padding-bottom: 22Px;
  }
  .section-compar-chart .comparison-table .table-wrapper:not(.u-NoScrollbar)::-webkit-scrollbar {
    height: 2px;
  }
  .section-compar-chart .comparison-table .table-wrapper:not(.u-NoScrollbar)::-webkit-scrollbar-track {
    background: #B0B0B0;
  }
  .section-compar-chart .comparison-table .table-wrapper:not(.u-NoScrollbar)::-webkit-scrollbar-thumb {
    background: #000;
  }
  .section-compar-chart .comparison-table .table-wrapper::-webkit-scrollbar-track {
    margin: 0px !important;
  }
}
.section-compar-chart .icons-row__headings .icons-row__subheading {
  margin-bottom: 20px;
}
@media (max-width: 768px) {
  .section-compar-chart .icons-row__headings .icons-row__subheading {
    margin-bottom: 15px;
  }
}
.section-compar-chart table {
  border-collapse: separate;
  border-spacing: 0;
  border: none;
  border-radius: 20px;
  table-layout: fixed;
  /*第一欄第一列：左上*/
  /*第一欄最後列：左下*/
  /*最後欄第一列：右上*/
  /*最後欄第一列：右下*/
}
@media only screen and (max-width: 990px) {
  .section-compar-chart table {
    min-width: 900px;
    table-layout: auto;
  }
}
@media only screen and (max-width: 660px) {
  .section-compar-chart table {
    min-width: 500px;
  }
}
.section-compar-chart table tr {
  border: 1px solid #B0B0B0;
}
.section-compar-chart table td {
  border: 0.5px solid #B0B0B0;
}
.section-compar-chart table td img {
  height: 37px;
  width: auto;
  vertical-align: middle;
}
@media only screen and (max-width: 768px) {
  .section-compar-chart table td img {
    height: 20px;
  }
}
.section-compar-chart table td svg {
  vertical-align: middle;
  width: 36px;
  height: 36px;
}
@media only screen and (max-width: 768px) {
  .section-compar-chart table td svg {
    width: 25px;
    height: 25px;
  }
}
.section-compar-chart table tr:first-child td:first-child {
  border-top-left-radius: 20px;
}
@media only screen and (max-width: 768px) {
  .section-compar-chart table tr:first-child td:first-child {
    width: 6.75rem;
  }
}
.section-compar-chart table tr:last-child td:first-child {
  border-bottom-left-radius: 20px;
}
.section-compar-chart table tr:first-child td:last-child {
  border-top-right-radius: 20px;
}
.section-compar-chart table tr:last-child td:last-child {
  border-bottom-right-radius: 20px;
}
.section-compar-chart .comparison-table th,
.section-compar-chart .comparison-table td {
  padding: 1rem;
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  line-height: 37px;
}
@media only screen and (max-width: 768px) {
  .section-compar-chart .comparison-table th,
  .section-compar-chart .comparison-table td {
    font-size: 14px;
    line-height: normal;
    padding: 0.8rem 1rem;
    width: 6.1375rem;
  }
}
.section-compar-chart .comparison-table td:not(:first-child) {
  text-align: center;
}
.section-compar-chart .comparison-table tr:first-child td {
  font-size: 24px;
}
@media only screen and (min-width: 991px) {
  .section-compar-chart .comparison-table tr:first-child td {
    padding: 1rem 1.3rem;
  }
}
@media only screen and (max-width: 768px) {
  .section-compar-chart .comparison-table tr:first-child td {
    font-size: 16px;
    line-height: normal;
  }
}
.section-compar-chart .comparison-table th {
  text-align: center;
}
@media (min-width: 48rem) {
  .section-compar-chart .comparison-table {
    font-size: 0.875rem;
  }
  .section-compar-chart .comparison-table th,
  .section-compar-chart .comparison-table td {
    padding: 0.5rem 1rem;
  }
}
@media (min-width: 60rem) {
  .section-compar-chart .comparison-table {
    font-size: 1rem;
  }
  .section-compar-chart .comparison-table th,
  .section-compar-chart .comparison-table td {
    padding: 0.7rem 1.3rem;
  }
}

@media only screen and (min-width: 1024px) {
  .section-padding {
    --gutter: 6.25rem;
  }
}

.products-list-section .wrapper .products-list__nav {
  margin-bottom: 13px;
}
.products-list-section .wrapper .products-list__item__contents .products-list__item__content {
  padding-top: 0px;
  width: 100%;
}
.products-list-section .wrapper .products-list__item__contents .products-list__item__content .badge_container-wrapper {
  display: flex;
  align-items: center;
  -moz-column-gap: 30px;
       column-gap: 30px;
}
.products-list-section .wrapper .products-list__item__contents .products-list__item__content .badge_container-wrapper .product-custom_badge {
  border-radius: 5px;
  background: #e8e8e8;
  padding: 8.5px 14px 6px;
  font-size: 14px;
  color: #000;
  top: -2px;
  position: relative;
}
.products-list-section .wrapper .products-list__item__contents .products-list__item__content ul {
  margin-top: 20px;
  margin-bottom: 0px;
  font-weight: 400;
  display: flex;
  flex-direction: column;
  row-gap: 9px;
  margin-left: 0px;
}
.products-list-section .wrapper .products-list__item__contents .products-list__item__content ul li {
  background-image: url("https://cdn.shopify.com/s/files/1/0799/1053/5458/files/Tick.png?v=1695569281");
  background-size: 18px;
  padding-left: 33px;
  background-position: top 1.5px left 0;
  background-repeat: no-repeat;
  list-style: none;
  margin-bottom: 0px;
  font-family: var(--FONT-STACK-BODY);
  font-weight: var(--FONT-WEIGHT-BODY);
  font-style: var(--FONT-STYLE-BODY);
  line-height: 1.5625;
  font-size: calc(1rem * var(--adjust-body));
}
.products-list-section .wrapper .products-list__item__contents .products-list__item__buttons .btn {
  margin-top: 30px;
}

.collection-items .product-grid-item__image {
  margin-bottom: 0px;
}
.collection-items .product-grid-item__info .product-grid-item__title {
  font-size: calc(1.2rem * var(--adjust-heading));
}
.collection-items .product-grid-item__info .badge_container-wrapper {
  display: flex;
  align-items: center;
  -moz-column-gap: 20px;
       column-gap: 20px;
  margin-top: 5px;
  font-family: var(--FONT-STACK-HEADING);
  font-weight: var(--FONT-WEIGHT-HEADING);
  font-style: var(--FONT-STYLE-HEADING);
  line-height: 1.25;
  font-size: calc(1rem * var(--adjust-heading));
}
.collection-items .product-grid-item__info .badge_container-wrapper .product-custom_badge {
  border-radius: 5px;
  background: #e8e8e8;
  padding: 8.5px 14px 6px;
  font-size: 14px;
  color: #000;
  top: -2px;
  position: relative;
}

.password-page__wrapper {
  background: none;
}
